@model IEnumerable<CS.Core.Entities.Repair>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Сause)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th>
               Owner
            </th>
            <th>
               Master
            </th>
            <th>
               RepairStatus
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @item.Date.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Сause)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @item.Owner.LastName @item.Owner.FirstName.First(). @item.Owner.Patronymic.First()
            </td>
            <td>
                @item.Master.LastName @item.Master.FirstName.First(). @item.Master.Patronymic.First()
            </td>
            <td>
                @item.RepairStatus.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", item) |
                @Html.ActionLink("Details", "HistoryStatuses", new { id = item.Id })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
